.project
.vscode/
.classpath
.settings/

/reports
/bin
/target
target/
.idea/
*.iml
.metadata/
RemoteSystemsTempFiles/
Servers/
*.log
*.log*
nohup.out
.DS_Store
*.orig
tmp.txt
*.hprof
tmp.txt
ca.uhn.fhir.jpa.entity.ResourceIndexedSearchParamString/
ca.uhn.fhir.jpa.entity.ResourceTable/

.vagrant
/vagrant/build
/vagrant/chef/tmp
jpaserver_derby_files

*.class